/*---------------------------------------------------------------------------------
   Debugging Styles
---------------------------------------------------------------------------------*/
/*section {
	border-style: solid;
	border-width: 1px;
	border-color: lightgreen;
}*/

/*use more specific rule to override glyphicon display*/
.glyphicon.initialHide {
	display: none;
}

.initialHide {
	display: none;
}

#topflagWhite {
	height: 75px;
	text-align: center;
	font-size: 30px;
	color: darkblue;
	/*padding-top: 5px;*/
	font-family: 'Abril Fatface', cursive;
	/*font-family: 'Open Sans', serif;*/
}

#flagNumber{
	font-family: 'Open Sans', serif;
}

#flagBlueStripe {
	height: 30px;
	background-color: lightblue;
}

#middleflagWhite {
	height: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
}


#bottomflagWhite {
	height: 25px;
	/*border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightblue;*/
}

.questionSection {
   height: 120px;
   margin: auto;
   width: 60%;
   text-align: center;
   position: relative;
   font-family: 'Open Sans', serif;
}

.question {
	display: none;
	vertical-align: text-bottom;
	font-size: 1.5em;
}

#startButton {
	text-align: center;
}

/*#question1, #question2, #question3, #question4, #question5 {
	display: none; 
}*/

/*#answerChoiceList1 */
#answerChoiceList2
,#answerChoiceList3
,#answerChoiceList4
,#answerChoiceList5 {
	display: none; 
	/*initial state hidden*/
}

.responseSection {
   background-color: lightblue; 		
   height: 120px;
   margin: auto;
   text-align: center;
   font-family: 'Open Sans', serif;
}

.responseSection p {
   font-weight: 900;
}

.responseSection label {
   font-weight: 500;
}

#responseContainer {
   /*display: none; initial state*/
}

.answerlist {
	width: 100px;
	
}

/*
.answer {
	display: inline;
	width: 100px;
	height: 50px;
	background: #028F76;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
	color: white;
	text-align: center;
	margin: 10px;
	text-align: center;
}

.answer:hover{
	background-color: #445155;
}*/

.answerlist checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

.firstFooterSection {
   background-color: white; 		
   height: 120px;
   margin: auto;
   text-align: center;
}

.secondFooterSection {
   background-color: lightblue; 		
   height: 120px;
   margin: auto;
   text-align: center;
}

.answerTracker {
   margin-top: 20px;
   width: 200px;
   float: right;
   position: absolute; 
   /*need to learn more about position and float for layering divs*/
   right: 0;
   /*display: none;*/

}

/*li {
	text-align: center;
}*/

#flagStar {
	height: 75px;
	width: 75px;
	/*background-image: url('http://introvert.net/images/2004/04/chicago_stars/stars-tew-proper');*/
	background-size: 75px 75px;
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 30px;
	vertical-align: middle;
	border: 0;
}


#responseStar1, #responseStar2, #responseStar3, #responseStar4, #responseStar5 {
	height: 50px;
	width: 50px;
	/*background-repeat: no-repeat;*/
}


#flagNumber {
	text-align: center;
	}

#headerStarList  {
	text-align: center;
	margin: auto;
}

#headerStarList > li {
	display: inline;
	list-style-type: none;
	padding: 20px;
}

#responseStarList > li {
	padding-bottom: 25px;
	text-align: center;
}


/*buttons*/
input.button {
	background: #1F253D;
	color: #95a5a6;
	font-size: 2em;
	padding: 0.2em;
	margin-top : 5px;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	font-family: 'Open Sans', serif;
	font-size: 20px;
}

input.button:hover {
	background: #e64c65;
	color: #fff;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	cursor: pointer;
}

#chooseButton {
	background: #1F253D;
	color: #95a5a6;
	font-size: 2em;
	padding: 0.2em;
	margin-top : 5px;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	font-family: 'Open Sans', serif;
	font-size: 20px;
}

#chooseButton:hover {
	background: #e64c65;
	color: #fff;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	cursor: pointer;
}









